name: GitHub Actions Demo
run-name: build bombardier
on: [push]
jobs:
  Explore-GitHub-Actions:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: build it
        uses: docker/build-push-action@v2
        with:
          push: false
